body {
    background: linear-gradient(to right, #b95bca, #2bd8ca);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: #f5e0fa;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 250px;
}

.display {
    background-color: #ffffff;
    padding: 10px;
    height: 40px;
    text-align: right;
    font-size: 24px;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 60px;
    gap: 10px;
}

button {
    font-size: 20px;
    border: none;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background-color: #cd19cd;
}

.zero {
    grid-column: span 3;
}

.clear {
    background-color: rgb(169, 14, 189);
    color: white;
    font-weight: bold;
}

.equal {
    grid-row: span 2;  
    grid-column: 4;
    height: 130px;
    border: 2px solid rgb(169, 14, 189);
}
